body{
    background-image: url("https://a.storyblok.com/f/191576/600x400/c8723370c0/white-background-after.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
}
